@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "OSG Capsules";
  src: url("/fonts/OSG-Capsules-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OSG Capsules";
  src: url("/fonts/OSG-Capsules-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OSG Capsules";
  src: url("/fonts/OSG-Capsules-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
